/* You can add global styles to this file, and also import other style files */
@layer tailwind-base, primeng, tailwind-utilities;

@layer tailwind-base {
@tailwind base;
}

@layer tailwind-utilities {
@tailwind components;
@tailwind utilities;
}
html, body {
  height: 100%;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root {
    --primary-yellow: #debc3b; /* Bleu */
    --primary-orange: #cf8103; /* Jaune */
    --primary-brownt: #774a02; /* Fond clair */
    --primary-green: #818b35; /* Texte foncé */
    --secondary-green: #d0cba4;
      color-scheme: light;

  }
